.profile-pic {
 position: relative;
 max-width:130px;
 max-height:130px;
 /* width: auto;
 height: auto; */
 overflow: hidden;
 margin: -31px;
 margin-left:-7px;
 border: 6px solid rgba(0, 77, 64, 0.4);
 border-radius: 50% !important;
}


.profile-pic img {
 width: 100%;
 height: auto;
}


.tracker {
 /* visibility: hidden; */
 position: fixed;
 /* margin-inline-end: auto;  */
 bottom: 0;
 right: 0;
}


@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.social {
 margin: 0 auto;
 width: auto;
 text-align: inherit;
 /* padding: 10px; */
}


.icon-btn {
 margin-left: auto;
 width: 50px;
 height: 50px;
 border: 0;
 color: #FFFFFF;
 cursor: pointer;
 font-size: 30px;
 line-height: 70px;
 border-radius: 45px;
 display: inline-block;
 margin: 4px;
}


.github {
 color: black;
}


.linkedin {
 color: #0077b5;
}






.icon-btn:hover {
 transform: scale(1.10);
 color: #FFFFFF;
}


.linkedin:hover {
 background-color: #0077b5;
}


.github:hover {
 background-color: black;
}


/* Buttons - Read Me, Contact Us */


.readme {
 position: relative;
 padding: 11px 35px;
 background: #fff;
 color: #00796b;
 border: 2px solid #fff;
 font-weight: 600;
 font-size: 15px;
 letter-spacing: 1px;
 display: inline-block;
 border-radius: 5px;
 -webkit-border-radius: 5px;
}


/* .readme:hover{
 color: white;
 background-color: #00796b;
} */


.contactme {
 position: relative;
 padding: 11px 35px;
 background: none;
 color: #fff;
 border: 2px solid #fff;
 font-weight: 600;
 font-size: 16px;
 letter-spacing: 1px;
 display: inline-block;
 margin-top: 1.5em;
 border-radius: 5px;
 -webkit-border-radius: 5px;
}


.contactme:hover{
 color: #00796b;
 background-color: white;
}
/* main body */


/* body-color */


body {
 color: #333;
 font-size: 18px;
}

a {
 color: #004d40;
}


/* main blockqoute */

blockquote {
 border-left: 5px solid #795548;
 color: #795548;
 font-size: 125%;
 font-weight: 400;
 margin: 20px 0;
 padding-left: 1.5rem;
 font-size: inherit;
 line-height: inherit;
}




.text-center {
 text-align: center;
}


/* main nav */


nav {
 background-color: white;
 box-shadow: none;
 height: 935px;
 position: fixed;
}




nav i{
 position: relative;
 top: 5px;
}


/* main */


main {
 background: url(../../assets/img/bg.png) repeat;
 padding-left: 190px;


}

ul.side-nav {
 width: 190px;
 list-style-type: none;
 padding: 0;
}

ul.side-nav a {
 box-sizing: content-box;
 color: rgb(16, 202, 56);
 display: block;
 line-height: 100%;
 padding: 10px;
}

ul.side-nav.fixed li.logo {
 background-color: #fafafa;
 border-bottom: 1px solid #ddd;
 box-sizing: content-box;
 min-height: 90px;
 padding-bottom: 30px;
}


ul.table-of-contents li:not(.logo) a.active, ul.table-of-contents li:not(.logo) a:hover {
 background-color: #fafafa;
 border-left: 3px solid;
}


.material-icons{
  color: #004d40;
}

/* text color */
ul.side-nav.table-of-contents li:not(.logo) a span, ul#slide-out li:not(.logo) a span {
 color: #333 !important;
 padding: 0px 20px;
}


ul.side-nav.table-of-contents li:not(.logo) a:link{
 text-decoration: none;
}



.section {
 padding-bottom: 30px;
 position: relative;
}


.full-height {
 height: 100vh;
}


/* Original */


/* #intro.section {
 background: url(../../assets/img/white-ai-wallpaper.jpg) no-repeat top center/cover;
 position: relative;
} */


#intro.section {
 background: #a7ffeb repeat;
 position: relative;
}


#intro.section .container {
 color: white;
 font-weight: 200;
 left: 0;
 position: absolute;
 top: 0;
}


#intro.section .container *:not(span) {
 font-weight: 300;
 line-height: 150%;
 text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}


h1{
 font-size: 52px;
}


h5{
 font-size: 24px;
}

h3 {
  font-weight: 100;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 30px 40px;
  text-transform: uppercase;
  font-size: 42px;
  color: white;
  background-color: rgb(0,128,115);
 }
 

#intro.section .underline {
 border-bottom: 5px solid #24305e;
}

#intro.section .teal {
 padding: 0 10px;
}


.overlay {
 background-color: rgba(0, 0, 0, 0.4);
 height: 100%;
 left: 0;
 position: absolute;
 top: 0;
 width: 100%;
}


#about .container_flow-text{
 padding: 0 20px;
}


.container_flow-text p , .container_flow-text ul li p{
 font-size: 24px;
}


.waves-effect.waves-blue .waves-ripple {
 /* The alpha value allows the text and background color
  of the button to still show through. */
 background-color: rgba(33, 150, 243, 0.2);
}


#experience .container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}
.experience_card {
 margin-bottom: 60px;
 background-color: white;
 box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
 position: relative;
 width: 50vw;
}


.experience_card .card-content{
height: 250px;
}


.experience_card .card-content .row{
 display: flex;
 justify-content: space-between;
 height: 42px;
 padding: 10px;
 margin: 20px;
 border-bottom: 1px solid black;
}

/* custom logo size */
/* #Bosch_logo{
  width: 103px;
  height: 35px;
} */

/* .raven_logo{
  width: 120px;
  height: 60px;
} */
/* #Mtag_Innovation_Logo{
  width: 60px;
  height: 60px;
}
#Cignex_Logo{
  width: 123px;
  height: 57px;
} */
/* end of logo size */

.logo_and_company_name{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_and_company_name a{
  margin-right: 20px;
}

.role{
  text-align: center;
}

.work_duration{
  position: relative;
  line-height: 64px;
  margin: 20px;
}

.project_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10vw;
}

.card_medium{
  width: 20vw;
  height: 400px;
  justify-self: center;
  background-color: white;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
  overflow: hidden;
}

.card-image{
  height: 240px;
  width: 20vw;
}

.card-image:hover::before {
  content: ""; /* Required for ::after to generate a pseudo-element */
  height: 240px;
  width: 20vw;
  background: rgba(0, 0, 0, 0.2);
  position: absolute; /* Make sure it covers the entire element */
  z-index: 1; /* Ensure it appears above other content */
}

.card-content{
  height: 247px;
}

.card-title{
  color: rgb(0,128,115);
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 10px;
}

.project_description{
  font-size: 18px;
  margin: 10px;
}

.languages .responsive-img, .library .responsive-img, .framework .responsive-img, .other .responsive-img{
  max-width: 90px;
  width: 10vw;
  min-height: 90px;
}

.skill_container{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-items: center;
  align-items: center;
}

.language_content, .library_content, .framework_content, .other_content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.language_card, .library_card, .framework_card, .other_card{
  background-color: white;
  width: 50vw;
  margin-bottom: 30px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.skill_container p{
  text-align: center;
}

h4{
  font-size: 41px;
  color: #795548;
  font-weight: 300;
  border-bottom: 1px solid #ddd;
}

.card-title{
  display: flex;
  justify-content: space-between;
}

.education_container .card-content{
  background-color: white;
  height: 300px;
  width: 50vw;
  padding: 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}
.education_container{
  display: flex;
  justify-content: center;
}

.contact_container{
  margin-left: 10vw;

}